<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Froala Editor + Spring</title>
    <meta charset="utf-8">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/favicons/favicon-196x196-7f002d7581c98b9e689d2f9134a8b9e2.png}" sizes="196x196">
    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/favicons/favicon-160x160-1e80408f97cdf1a5348e50bf77cb234c.png}" sizes="160x160">
    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/favicons/favicon-96x96-125fc2240550e709d8e0c7329f6289bc.png}" sizes="96x96">
    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/favicons/favicon-16x16-91627f6313b6c22b517076a40f4d38d4.png}" sizes="16x16">
    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/favicons/favicon-32x32-873a49dcddd301a238a101672e0a3ed9.png}" sizes="32x32">
    <!-- Include external CSS. -->
    <link th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/codemirror-5.45.0/codemirror.css}">
    <!-- Include Editor style. -->
    <link th:href="@{/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/froala_style.min.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<!-- Create a tag that we will use as the editable area. -->
<!-- You can use a div tag as well. -->
<form th:action="@{/submit}" method="post">
    <textarea id="froala" name="content"></textarea>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>

<div th:each="item : ${items}">
    <hr/>
    <div>
        <th:block th:utext="${item.id}">item.id</th:block>
        -
        <th:block th:text="${#temporals.format(item.added, 'yyyy-MM-dd HH:mm:ss')}">yyyy-MM-dd HH:mm:ss</th:block>
    </div>
    <div th:utext="${item.content}" class="fr-view"></div>
    <div style="clear: both"></div>
</div>

<!-- Include external JS libs. -->
<script type="text/javascript" th:src="@{/assets/jquery-1.12.4/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/codemirror-5.45.0/codemirror.js}"></script>
<script type="text/javascript" th:src="@{/assets/codemirror-5.45.0/mode/xml/xml.js}"></script>
<!-- Include Editor JS files. -->
<script type="text/javascript" th:src="@{/js/froala_editor.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/js/languages/ko.js}"></script>
<!-- Human file size to byte -->
<script type="text/javascript" th:src="@{/js/byte.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        var baseUrl = /*[[@{/froala}]]*/ '';

        var $froala = $('#froala');
        $froala.froalaEditor({
            language: 'ko',
            // image
            imagePaste: true,
            imageUploadURL: /*[[@{/froala/image}]]*/ null,
            // file
            fileUploadURL: /*[[@{/froala/file}]]*/ null,
            // image manager
            imageManagerLoadURL: /*[[@{/froala/images}]]*/ null,
            // video
            videoAllowedTypes: ['mp4', 'webm', 'ogg', 'm4v'],
            videoUploadURL: /*[[@{/froala/video}]]*/ null,
            videoMaxSize: byte(/*[[${@environment.getProperty('spring.servlet.multipart.max-file-size')}]]*/ 1024 * 1024 * 30)
        });

        $froala.on('froalaEditor.file.inserted', function (e, editor, $file, response) {
            // 파일이 추가되면 <a> 에 data-id 송석을 넣어둔다.
            $file.attr('data-id', JSON.parse(response).id);
        });

        $froala.on('froalaEditor.image.removed', function (e, editor, $img) {
            // 업로드 후 리턴하는 데이터의 값들이 'data-{키}'으로 해당 태그에 들어가 있다.
            $.ajax({
                method: 'DELETE',
                url: baseUrl + '/' + $img.data('id')
            });
        });

        $froala.on('froalaEditor.file.unlink', function (e, editor, file) {
            $.ajax({
                method: 'DELETE',
                url: baseUrl + '/' + $(file).data('id')
            });
        });

        $froala.on('froalaEditor.video.removed', function (e, editor, $video) {
            $.ajax({
                method: 'DELETE',
                url: baseUrl + '/' + $video.data('id')
            });
        });

    });
    /*]]>*/
</script>
</body>
</html>